@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    text-align: center;
}
header{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    background-image: linear-gradient(darkslategrey, black, darkblue);
    text-align: center;
    padding: 100px;
    position: relative;
    
}
.text, .foto{
    box-shadow: 0 0 4px lightblue;
    width: 45%;
    height: 60vh;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}
h1{
    color: white;
    margin-top:100px;
    font-family: 'Sixtyfour', sans-serif;
    text-shadow: 4px 4px 5px red;
    font-size: 40px;
}
.foto{
    background-image: url(game.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h2{
    color: lightblue;
    font-family: 'Sixtyfour', sans-serif;
    text-shadow: 5px 5px 5px red;
    text-align: center;
}
p{
    font-family: 'Sixtyfour', sans-serif;
    margin-top: 50px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}
nav{
    background-color: black;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.help{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: firebrick;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 50px;
}
li{
    width: 120px;
    height: 40px;
    display:inline-block;
    margin-left: 25.23345px;
    margin-top: 13.4px;
    font-size: 20px;
    margin-right: 20px;
    background-color: #28c267;
background-image: linear-gradient(147deg, #28c267 0%, #248186 24%, #311f5f 66%, #0d0d2b 100%);
    text-decoration: none;
    border-radius: 20px;
}
a{
    color: white;
    text-decoration: none;
    display: block;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    padding-top: 8px;
}
ul{
    text-align: right;
}
.logo{
    height: auto;
    width: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
}
.help a{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    padding-top: 5px;
}
button{
    width:200px;
    height: 60px;
    background-color: black;
    color: blue;
    font-size: 20px;
    margin-top: 60px;
    border-radius: 20px;
    background-color: #0d7f82;
background-image: linear-gradient(180deg, #0d7f82 0%, #0e3d53 50%, #050e19 100%);
    text-decoration: none;
}
button:active{
    box-shadow: none;
}
.btn{
    display: block;
    width:200px;
    height: 60px;
    padding-top: 16px;
}
.apie{
    width: 100%;
    height: 100vh;
    color: aqua;
    background-color: darkblue;
}
.section{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 40px;
}
.section div{
    width: 300px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.m{
    background-image: url(game%20nintendo.jpg);
}
.m1{
    background-image: url(XboxX.jpg);
}
.m2{
    background-image: url(ps5.jpg);
}
.m3{
    background-image: url(nintendo%20swichs.jpg);
}
.m4{
    background-image: url(xboxer.jpg);
}
.m5{
    background-image: url(playstation.jpg);
}
footer{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(darkblue, black);
    padding-top: 100px;
}
footer p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: cornsilk;
    margin: 0;
}
main{
    background-color: darkblue;
}